build/
bin/
lib/
*.o
*.a
*.so
*.pyd
*.out
.cache/

__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/
dist/
build_python/
egg-info/

.vscode/
.idea/
.DS_Store
*.swp
*.user

*.log
benchmarks/datasets/*.smarts
benchmarks/README.md
benchmarks/ZINC_URLS

.gitignore